:root {
  --base-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  --base-color: #27f93c;
  --base-color__light: #4A6886;
  --base-link-color: #1C75BC;
  --base-font: #2c3e50;
  --secondary-color: #444;
  --tertiary-color: #ECF4F5;
  --tertiary-color__dark: #D3DADB;
  --tertiary-color__transparent: transparentize(#ECF4F5, .6);
}
